.battery {
    height: 20px;
    background: #ddd;
    margin-bottom: 10px;
    position: relative;
}

.battery:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #00cc00;
}

.battery:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
}